version: '3'

services:
  db:
    image: postgres:13
    container_name: db
    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: ./api
    container_name: api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./api:/app
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
